 h1{
        color: rgb(255, 115, 0);
        font-size: 70px;
        text-align: center;
        margin-bottom: 20px;
    }

p{
    color: blue;    
    border: 2px solid black;
    font-size: 20px;
   
width: 600px;
    padding: 20px;
    
    margin: 30px;
    
} 